@font-face {
    font-family: "Anton";
    src: url("fonts/Anton-Regular.ttf")
}

::placeholder {
    color: #fff;
}

.toplogo a {
    color: #FFFFFF;
    display: inline-block;
    font-family: Anton;
    font-size: 160px;
    text-decoration: none;
    transition: color 0.4s;
    margin: none;
    line-height: 240px;
}

.toplogo a:hover {
    color: #BB9A4E;
}


.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    color: #ffffff;
    font-family: Anton;
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    transition: color 0.4s;
    text-decoration: none;
    font-style: italic;
}

.topnav a:hover {
    color: #BB9A4E;
}


.searchbar {
    text-align: center;
    padding-top: 70px;
}

.searchinput{
    width: 500px;
    border: 3px solid #BB9A4E;
    background: transparent;
    padding: 30px 45px;
    border-radius: 30px;
    outline: none;
    font-size: 30px;
    font-family: Anton;
    color: #fff;
    letter-spacing: 1px;
}

.gobutton {
    width: 140px;
    border: 3px solid #BB9A4E;
    background-color: #0b233e;
    padding: 30px 45px;
    border-radius: 30px;
    outline: none;
    font-size: 30px;
    font-family: Anton;
    color: #fff;
    letter-spacing: 1px;
    font-style: italic;
}

.gobutton:hover {
    color:#BB9A4E;
    transition: color 0.4s;
}


.searchtext {
    color: #fff;
    text-align: center;
    font-family: Anton;
    font-size: 30px;
    padding-top: 70px;
}

.searchbuttons {
    text-align: center;
    padding-top: 30px;
}

.searchbuttons a {
    font-family: Anton;
    font-size: 30px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}


.playerbutton {
    width: 250px;
    color: #fff;
    border: 3px solid #BB9A4E;
    background-color: #0b233e;
    border-radius: 30px;
    padding: 20px 35px;
    font-family: Anton;
    font-size: 30px;
}

.playerbutton:hover {
    color:#BB9A4E;
    transition: color 0.4s;
}

.ui-autocomplete {
    text-align: center;
}

.ui-menu-item {
    width: 250px;
    color: #fff;
    border: 1px solid #BB9A4E;
    border-radius: 50px;
    text-align: center;
    font-family: Anton;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.ui-menu-item a{
    color: #fff;
    padding-bottom: 50px;
}

p {
    color:#fff;
    font-family: Anton;
    text-align: center;
}